#about-us {


.container {
  .row {

    .us {
      display: block;
      max-width: 500px;
      padding: 2rem;
      margin: 0 auto;

      h3 {
        padding-bottom: 0;
      }

      h4 {
        padding-top: 0

      }

      p {
        padding: 1rem 0 0;
      }

    }/*end of .us*/

    .img {
      display: block;
      width: 200px;
      margin: auto;
      min-height: 250px;
      border-radius: 50%;
    }

    #kristin-img {
      /*@mixin backImage '../images/us/kas_purple_hat2.jpg', center center, 180%;*/
      @mixin backImage '../images/us/kas_headshot2.jpg', 48% -20px , 320%;
    }

    #deb-img {
      /*@mixin backImage '../images/us/deb_cool.JPG', right -30px, 250%;*/
      /*@mixin backImage '../images/us/deb_skiing3.JPG', 0 80%,  120%;*/
      @mixin backImage '../images/us/deb_waterfall2.jpg', 20% 100%,  130%;
      /*@mixin backImage '../images/us/deb_w_coffee.jpg', 60% center,  180%;*/
      /*@mixin backImage '../images/us/deb3.jpg', 40% center,  100%;*/

    }
  }

  }
} /*end of #about-us*/
